#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    chosen {
        zmk,matrix-transform = &default_transform; // Connects map to overlay
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer { 
            bindings = <
                &kp Z    &kp M    &kp K
                &kp A    &kp B    &kp C
                &kp D    &kp E    &kp F
            >;
        };
    };
};
